.gray-button {
    width: 300px; /* Fixed width */
    height: 50px; /* Fixed height */
    line-height: 50px; /* Vertically center text */
    border-radius: 10px; /* Smooth corners */
    background-color: #cacaca; /* Light background color */
    text-align: center; /* Center text horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    color: #333; /* Dark text color */
    display: block; /* Make link fill the list item */
    margin: 5px;
}

.gray-button:hover {
    background-color: #8e8c8c; /* Slightly darker background on hover */
    transform: scale(1.02); /* Slight zoom on hover */
}

.white-button {
    width: 298px; /* Fixed width */
    height: 48px; /* Fixed height */
    line-height: 50px; /* Vertically center text */
    border-radius: 10px; /* Smooth corners */
    background-color: #ffffff; /* Light background color */
    border: 2px solid #cacaca;
    text-align: center; /* Center text horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark text color */
    font-weight: bold;
    display: block; /* Make link fill the list item */
    margin: 5px;
}

.white-button:hover {
    background-color: #8e8c8c; /* Slightly darker background on hover */
    transform: scale(1.02); /* Slight zoom on hover */
}


.button-container {
    display: flex; 
    margin-top: 20px;
    gap: 10px; /* Space between buttons */
}