<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'documentapp/css/globals.css' %}">
<link rel="stylesheet" href="{% static 'documentapp/css/headers.css' %}">
<link rel="stylesheet" href="{% static 'documentapp/css/buttons.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Add New Document</title>
</head>
<body>
    <header class="header-bar">
        <h1>Add New Document</h1>
    </header>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="gray-button" type="submit">Save Document</button>
    </form>
    <br>
    <a class="gray-button" href="{% url 'documentapp:document_list' %}">Back to Document List</a>
</body>
</html>
