<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'documentapp/css/style.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{% static 'documentapp/icons/logo.png' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Document Details</title>
</head>
<body>
    <script>
        const BoxDetailUrl = "{% url 'documentapp:box-detail' id=1 %}"
        const BoxListUrl = "{% url 'documentapp:box-list' %}"
        const triggerSamplingJobUrl = "{% url 'documentapp:trigger_sampling_job' %}"
        const triggerModelFineTuningJobUrl = "{% url 'documentapp:trigger_model_fine_tuning_job' %}"
        const deleteSamplesUrl = "{% url 'documentapp:sample-documents-delete-template-samples' %}"
        const CSRFToken = "{{ csrf_token }}"
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Brand Name or Logo -->
            <a class="navbar-brand" href="{% url 'documentapp:document_list' %}">
                <img src="{% static 'documentapp/icons/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Document App
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Image container with drawing functionality -->
                <div id="document-container" class="document-container" data-document-id="{{ document.id }}">
                    <img src="{{ document.image.url }}" alt="{{ document.name }}" class="image">
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="heading">Boxes</h3>
                <div class="accordion" id="accordion-boxes">
                    {% for box in boxes %}
                        <div class="card">
                            <div class="card-header" id="heading-{{ box.id }}">
                                <h5 class="mb-0">
                                    <button class="btn btn" type="button" data-toggle="collapse" data-target="#collapse-{{ box.id }}" aria-expanded="true" aria-controls="collapse-{{ box.id }}">
                                        {{ box.name }}
                                    </button>
                                    <form id="delete-box-form" data-box-id="{{ box.id }}" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </h5>
                            </div>
                            <div id="collapse-{{ box.id }}" class="collapse" aria-labelledby="heading-{{ box.id }}" data-parent="#accordion-boxes">
                                <div class="card-body">
                                    <form id="box-form" data-box-id="{{ box.id }}">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="is-numeric-{{ box.id }}" {% if box.is_numeric %}checked{% endif %}>
                                            <label class="form-check-label" for="is-numeric-{{ box.id }}">Is Numeric</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="is-alphabetic-{{ box.id }}" {% if box.is_alphabetic %}checked{% endif %}>
                                            <label class="form-check-label" for="is-alpahbetic-{{ box.id }}">Is Alphabetic</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="mean-length-{{ box.id }}">Mean Length</label>
                                            <input type="text" class="form-control" id="mean-length-{{ box.id }}" value="{{ box.mean_length }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update Box</button>
                                        <button onclick="showBox('{{ box.id }}')" class="btn btn-primary">Show Box</button>
                                      </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container mt-5">
                <button id="generateSampleButton" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#generate-sample-modal">
                    Generate Samples
                </button>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'documentapp:sample_documents_list' %}?template_document={{ document.id }}">Document Samples</a>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'documentapp:document_prediction' document.id %}">Document Prediction</a>
                <button class="btn btn-outline-primary btn-sm" onclick="triggerModelFineTuningJob('{{ document.id }}')">Train Model</button>
                <a class="btn btn-primary btn-sm" href="{% url 'documentapp:document_list' %}">Back to Document List</a>
            </div>
        </div>


    <!-- Modal for new box -->
    <div class="modal fade" id="new-box-modal" tabindex="-1" aria-labelledby="new-box" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-box">New Box</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="new-box-form" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="new-box-name">Box Name</label>
                            <input type="text" class="form-control" id="new-box-name">
                        </div>
                        <div class="form-group row">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="new-box-is-numeric">
                                <label class="form-check-label" for="new-box-is-numeric">Is Numeric</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="new-box-is-alphabetic">
                                <label class="form-check-label" for="new-box-is-alpahbetic">Is Alphabetic</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new-box-mean-length">Mean Length</label>
                            <input type="text" class="form-control" id="new-box-mean-length">
                        </div>
                        <button type="submit" class="btn btn-primary">Create Box</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for generate sample -->
    <div class="modal fade" id="generate-sample-modal" tabindex="-1" aria-labelledby="generate-sample" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generate-sample">Generate Sample</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="generate-sample-form" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="num-samples"># Samples</label>
                            <input type="text" class="form-control" id="num-samples">
                        </div>
                        <button type="submit" class="btn btn-primary">Generate Sample</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'documentapp/js/document_detail.js' %}"></script>
</body>
</html>
