<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'documentapp/css/style.css' %}">
<link rel="stylesheet" href="{% static 'documentapp/css/boxes.css' %}">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Document Details</title>
</head>
<body>
    <script>
        const getBoxesUrl = "{% url 'documentapp:get_boxes' document_id=1 %}"
        const BoxDetailUrl = "{% url 'documentapp:box-detail' id=1 %}"
        const BoxListUrl = "{% url 'documentapp:box-list' %}"
        const triggerSamplingDAGUrl = "{% url 'documentapp:trigger_sampling_dag' %}"
        const CSRFToken = "{{ csrf_token }}"
    </script> 
    <script src="{% static 'documentapp/js/jobs.js' %}"></script>
    <h1>Document Details</h1>
    <div class="padded-boxes">
        <section>
            <h3 class="heading">{{ document.name }}</h3>
            <div class="padded">
                <!-- Image container with drawing functionality -->
                <div id="document-container" class="document-container" data-document-id="{{ document.id }}">
                    <img src="{{ document.image.url }}" alt="{{ document.name }}" class="image">
                </div>
            </div>
        </section>
        <section>
            <h3 class="heading">Boxes</h3>
            <div id="box-list-{{ document.id }}" class="accordion-container">       
            </div>
        </section>
    </div>

    <div>
        <button onclick="triggerGenerateSampleDAG()" type="submit">Generate Sample</button>
    </div>
    
    <div>
        <a href="{% url 'documentapp:sample_documents_list' %}?template_document={{ document.id }}">Document Samples</a>
    </div>

    <div>
        <a href="{% url 'documentapp:document_list' %}">Back to Document List</a>
    </div>

    <script src="{% static 'documentapp/js/document_detail.js' %}"></script>
</body>
</html>
